<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">
         
    <!-- 串口通讯服务器，内部有连接的存储容器 -->
    <bean id="serialPortCommServer" scope="singleton" class="ff.xsocket.SerialPortCommServer"/>    
         
     <!--初始化各种Socket服务器的回调实现-->
    <bean id="headServerHandler" scope="singleton" class="ff.xsocket.HeadServerHandler" />
    <bean id="alertServerHandler" scope="singleton" class="ff.xsocket.AlertServerHandler" />    
    <bean id="flexServerHandler" scope="singleton" class="ff.xsocket.FlexServerHandler" />
    <bean id="flexAuthServerHandler" scope="singleton" class="ff.xsocket.FlexAuthServerHandler" />
    
    <!-- 串口通讯服务器引导程序,经过引导之后，最早被初始化的串口服务器才可以执行串口命令 -->     
    <bean id="serialPortCommServerBootstratp" class="ff.xsocket.SerialPortCommServerBootstratp">
        <constructor-arg index="0"><value>8002</value></constructor-arg>
        <constructor-arg index="1"><value>8003</value></constructor-arg>
        <constructor-arg index="2"><value>8004</value></constructor-arg>
        <constructor-arg index="3"><value>843</value></constructor-arg>
        <constructor-arg index="4" type="ff.xsocket.HeadServerHandler"><ref bean="headServerHandler"/></constructor-arg>
        <constructor-arg index="5" type="ff.xsocket.AlertServerHandler"><ref bean="alertServerHandler"/></constructor-arg>
        <constructor-arg index="6" type="ff.xsocket.FlexServerHandler"><ref bean="flexServerHandler"/></constructor-arg>
        <constructor-arg index="7" type="ff.xsocket.FlexAuthServerHandler"><ref bean="flexAuthServerHandler"/></constructor-arg>
    </bean>
    
    
    <bean id="ptzUtil" class="ff.util.PTZUtil" />
    
    
</beans>