<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">
         
    <!-- 串口通讯服务器，内部有连接的存储容器 -->
    <bean id="serialPortCommServer" class="ff.server.SerialPortCommServer"/>    
         
     <!--初始化各种附属服务器的回调实现-->
    <bean id="ptzControlServerHandler" class="ff.server.PTZControlServerHandler" />
    <bean id="ptzAlertServerHandler" class="ff.server.PTZAlertServerHandler" />    
    <bean id="flexServerHandler" class="ff.server.FlexServerHandler" />
    <bean id="flexAuthServerHandler" class="ff.server.FlexAuthServerHandler" />
    <bean id="rtspStreamServerHandler" class="ff.server.RTSPStreamServerHandler" scope="prototype">
    	<property name="jnaLibPath" value="C:\\Program Files\\VideoLAN\\VLC" />
    </bean>
    
    <!-- 本项目附属服务器启动类，包括串口通信服务器和流媒体转发服务器      --> 
    <bean id="serverBootUtil" class="ff.util.ServerBootUtil">
    	<property name="ptzControlServerPort" value="8002" />
    	<property name="ptzAlertServerPort" value="8003" />
    	<property name="flexServerPort" value="8004" />
    	<property name="flexAuthServerPort" value="843" />
    	<property name="rtspStreamServerPort" value="554" />
    </bean>
     
    <bean id="ptzUtil" class="ff.util.PTZUtil" />
</beans>